.title {
    font-size: 30px;
    color: rgb(245, 104, 255);
    padding-left: 55px;
    padding-bottom: 10px;
}

.container {
    padding-left: 55px;
    color: rgb(245, 104, 255);
}

.blogTitle {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.date {
    font-size: 20px;
    font-style: italic;
}

.content {
    color: black;
    line-height: 2;
    width: 70%;
    font-size: 17px;
}

.a:hover {
    color: rgb(87, 0, 169);
    text-decoration: underline;
}

.a {
    text-decoration: none;
    color: rgb(245, 104, 255);
    font-weight: bolder;
    font-style: italic;
}

.commentsTitle {
    font-size: 22px;
    font-style: italic;
    padding-bottom: 10px;
}

.commentsContainer {
    padding-top: 20px;
}