.title {
    font-size: 45px;
    color: rgb(0, 0, 0);
    padding-left: 55px;
    padding-bottom: 10px;
}

.container {
    margin-left: 55px;
    color: rgb(245, 104, 255);
}

.blogTitle {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.date {
    font-size: 20px;
    font-style: italic;
}

.content {
    color: black;
    line-height: 2;
    width: 70%;
    font-size: 17px;
}

.a:hover {
    color: rgb(87, 0, 169);
    text-decoration: underline;
}

.a {
    text-decoration: none;
    color: rgb(245, 104, 255);
    font-weight: bolder;
    font-style: italic;
}

.commentsTitle {
    font-size: 22px;
    font-style: italic;
    padding-bottom: 10px;
}

.commentsContainer {
    padding-top: 20px;
}

.navDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.prevDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 55px;
    margin-right: 55px;

}

.individualPrev {
    background-color: rgb(112, 112, 112, 0.5);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}