@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

.homeContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.name {
  font-size: 130px;
  color: white;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

.description {
  font-size: 40px;
  color: white;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.homePic {
  padding: 0px;
  margin: 0px;
  display: block;
}
