@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: white;
}

.linkBox {
    text-decoration: none;
    padding-bottom: 25px;
}

.caption {
    font-size: 20px;
    padding-left: 10px;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    margin-top: 5px;
    text-transform: lowercase;
}

.username {
    font-size: 20px;
    font-family: "roboto", sans-serif;
    font-weight: 500;
}

.numLikes {
    font-size: 20px;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    padding-left: 10px;
    margin: 0px;
    margin-top: 10px;
}

.projectPic {
    object-fit: cover;
    border-radius: 1%;
  }
  
.user {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.PFP {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    padding-top: 15px;
}

.spacer {
    margin-left: auto;
}

.messageCircle, .send, .bookmark {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

.messageCircle:hover, .send:hover, .bookmark:hover {
    color: rgb(160, 160, 160);
}