.aboutMeContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.text {
  text-align: left;
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 450px;
}

.title {
  font-size: 50px;
}

.description {
  line-height: 1.25cm;
}