.gridContainer {
  background-color: rgb(255, 212, 183);
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
   height: fit-content;
   display: grid;
   grid-template-columns: 900px 1fr;
   width: 100%;
   align-items: flex-start;
}
 
.text {
  padding-left: 100px;
  color: white;
}

.title {
  font-size: 60px;
  margin: 0px;
}

.description {
  padding-top: 20px;
}

.item {
  text-align: center;
}
