.navDiv {
    background-color: None;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav {
    text-align: center;
    align-items: center;
}

.list {
    margin-top: 10px;
}

.navA {
    list-style-type: none;
    overflow: hidden;
    display: inline-flex;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-left: 80px;
    padding-right: 80px;
}

.a:hover {
    color: rgb(137, 137, 137);
}

.a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: lowercase;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: none;
    border: 0cap;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dividers {
    font-size: 25px;
}

