.page_title {
    font-size: 30px;
    padding: 25px;
    color: rgb(255, 72, 218);
    margin-left: 42%;
}

img.project_details {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project_name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(87, 0, 169);
}

.project_description {
    font-size: 15px;
    text-align: center;
    color: rgb(87, 0, 169);
}