.navButton {
   border-style: none;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   position: relative;
   background: none;
   background-color: transparent;
   cursor: pointer;
   padding: 10px;
   right: 0;
   left: 92%;
}

.navButton p {
   margin: 0; 
   padding: 0;
 }

 .navButton :hover {
   color: rgb(87, 0, 169);
   transition: background-color 0.3s ease;
 }
 

.links {
   cursor: pointer;
   text-align: center;
   margin-top: 5px;
   width: auto;
}

.links :hover {
   background-color: rgb(87, 0, 169, 0.3);
   color: black;
}

.links div {
   padding: 5px;
 }

.dropdown {
   position: absolute;
   top: 0;
   right: 100%;
   z-index: 1000;
   margin: 0;
   padding: 0;
   width: auto;
   display: inline-flex;
}

.buttonDiv {
   width: 100%;
}
